.block-popular {
  margin-top: 53px;
}

.block-popular__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
.block-popular__content {
  width: 100%;

  @media (min-width: $desktop) {
    flex-basis: 75%;
  }
}
.block-popular__sidebar {

  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-top: 63px;
    padding: 25px;
    flex-basis: 25%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(#000000, 0.1);
  }
}

.block-popular__carousel {
  margin-bottom: 34px;
}

.block-popular__filter {

}
