$block-filter-list-item-size-mobile: 91px;
$block-filter-list-item-size-desktop: 99px;

.block-filter {
  grid-area: category;

  height: fit-content;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-bottom: 28px;
  padding-right: 25px;
  padding-left: 27px;
  border-radius: 10px;

  background-color: $white;
  box-shadow: 0 0 16px rgba(#000000, 0.1);
}

.block-filter__title {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
}

.block-filter__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, $block-filter-list-item-size-mobile);
  row-gap: 16px;
  column-gap: 11px;
  justify-content: start;


  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  list-style: none;

  @media (min-width: $desktop) {
    grid-template-columns: repeat(auto-fill, $block-filter-list-item-size-desktop);
    column-gap: 12px;
    row-gap: 19px;
  }
}

.block-filter__label {
  position: relative;
  display: block;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    display: none;
    width: $block-filter-list-item-size-mobile;
    height: $block-filter-list-item-size-mobile;
    border-radius: 20px;

    background-color: rgba($black, 0.4);

    @media (min-width: $desktop) {
      width: $block-filter-list-item-size-desktop;
      height: $block-filter-list-item-size-desktop;
    }
  }

  &::before {
    position: absolute;
    content: "";
    right: 5.5px;
    top: 76px;

    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-image: url("../img/checkmark.svg");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;

    @media (min-width: $desktop) {
      width: 13px;
      height: 13px;
      top: 82px;
    }
  }
}

.block-filter__img {
  border-radius: 20px;
}

.block-filter__input:checked + .block-filter__label::after,
.block-filter__input:checked + .block-filter__label::before {
    display: block;
}

.block-filter__name {
  display: block;
  width: 100%;

  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
}
