//размер элемента категории
$category-list-item-size-mobile: 91px;
$category-list-item-size-desktop: 99px;

.category {
  height: fit-content;
  min-height: 170px;
  padding: 13px 0 14px 24px;
  // padding: 13px 25px 92px;
  margin-bottom: 20px;

  border-radius: 10px;

  background-color: $white;
  box-shadow: 0 0 16px rgba(#000000, 0.1);

  @media (min-width: $desktop) {
    padding: 12px 22px;
  }
}

// .category--mobile-hide {
//   @media (max-width: $mobile) {
//     display: none;
//   }
// }

.category__title {
  margin-top: 0;
  margin-bottom: 7px;
  padding: 0;

  font: 700 17px/22px $body-font-family;

  @media (min-width: $desktop) {
    margin-left: 7px;
    margin-right: 7px;
    font: 700 20px/24px $body-font-family;
  }
  // margin-bottom: 19px;
  // margin-top: 13px;
  // padding-right: 18px;
  // padding-left: 18px;

  // margin-top: 0;
  // margin-bottom: 40px;

  // font-size: 20px;
  // line-height: 27px;
  // text-align: center;
}

.category__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, $category-list-item-size-mobile);
  row-gap: 16px;
  column-gap: 11px;
  justify-content: start;


  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  list-style: none;

  @media (min-width: $desktop) {
    grid-template-columns: repeat(auto-fill, $category-list-item-size-desktop);
    column-gap: 12px;
    row-gap: 19px;
  }
// justify-content: center;
}

.category__label {
  position: relative;
  display: block;
  cursor: pointer;

  @media (min-width: $desktop) {
    top: 3px;
    left: 3px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    display: none;
    width: $category-list-item-size-mobile;
    height: $category-list-item-size-mobile;
    border-radius: 20px;

    background-color: rgba($black, 0.4);

    @media (min-width: $desktop) {
      width: $category-list-item-size-desktop;
      height: $category-list-item-size-desktop;
    }
  }

  &::before {
    position: absolute;
    content: "";
    right: 5.5px;
    top: 76px;

    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-image: url("../img/checkmark.svg");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;

    @media (min-width: $desktop) {
      width: 13px;
      height: 13px;
      top: 82px;
    }
  }
}

.category__img {
  border-radius: 20px;
}

.category__input:checked + .category__label::after,
.category__input:checked + .category__label::before {
    display: block;
}

.category__name {
  display: block;
  width: 100%;

  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
}
