.container {
  max-width: 1472px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
<<<<<<< HEAD

  @media (min-width: $desktop) {
    padding-left: 8px;
    padding-right: 8px;
  }
=======
>>>>>>> d03cb2d5c18015d9327a585e806e8f3c5e2776d0
}

.container__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.container__content {
  flex-basis: 75%;
}

.container__sidebar {
  margin-top: 63px;
  padding: 25px;
  flex-basis: 25%;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(#000000, 0.1);

  @media (max-width: $mobile) {
    display: none;
  }
}
