.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  justify-content: center;
  row-gap: 40px;
  column-gap: 20px;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(auto-fill, 260px);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 324px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.courses__item {
  padding-top: 21px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 8px;
  border-radius: 10px;

  box-shadow: 0 0 29px rgba($black, 0.2);
}

.courses__img {
  margin-bottom: 26px;
}

.courses__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 25px;
  line-height: 33px;
  font-weight: 700;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 32px;
  }
}

.courses__term {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;

  color: $blue;

  @media (max-width: $tablet) {
    font-size: 15px;
    line-height: 21px;
  }

  @media (max-width: $mobile) {
    line-height: 23px;
  }
}

.courses__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (max-width: $tablet) {
    font-size: 17px;
    line-height: 22px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 27px;
  }
}

.courses__link {
  justify-content: center;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 8px;
}
