.course-all {
  margin-top: 50px;
}

.course-all__search {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 35px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 16px rgba($black, 0.3);
}

.course-all__title {
  margin-bottom: 50px;
  padding-right: 16px;
  padding-left: 16px;

  font-size: 32px;
  line-height: 1.2;

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 19px;
    padding-top: 18px;
    border-top: 1px solid $black;

    font-size: 25px;
    margin-bottom: 30px;
  }
}

.course-all__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  justify-content: space-between;
  padding: 0 35px;
  margin-top: 62px;

  @media (max-width: $mobile) {
    padding: 0;
    justify-content: flex-start;
  }
}

.course-all__item {
  display: flex;
  flex-direction: column;
  width: 325px;
  min-height: 370px;
  padding: 25px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(#000000, 0.1);

  @media (max-width: $mobile) {
    flex-basis: 272px;
    flex-shrink: 0;
    flex-wrap: nowrap;

    margin-right: 20px;
    padding-top: 30px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 17px;
  }
}
.course-all__item--last{
  margin-right: 0;
}

.course-all__img-link {
  text-decoration: none;
}

.course-all__img {
  border-radius: 10px;

  @media (max-width: $mobile) {
    display: block;
    margin-bottom: 11px;
  }
}

.course-all__item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-all__item-price {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.3;
  color: $black;
  text-decoration: none;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 19px;
  }
}

.course-all__item-duration {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.3;
  color: $main-color;

  @media (max-width: $mobile) {
    font-size: 9px;
    line-height: 14px;
    align-self: flex-end;
  }
}

.course-all__item-title {
  margin-top: 0;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: $black;
  transition: color .3s;

  &:hover,
  &:focus {
    color: $main-color;
  }
  @media (max-width: $mobile) {
    font-size: 12px;
    line-height: 16px;


  }
}

.course-all__item-btn {
  display: block;
  margin-top: auto;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: $main-color;
  border-radius: 10px;

  transition: background-color .3s;

  &:focus,
  &:hover {
    background-color: darken($main-color, 10);
  }

  @media (max-width: $mobile) {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 5px;

    font-size: 10px;
    line-height: 14px;
  }
}

.course-all__btn-next,
.course-all__btn-prev {
  position: absolute;
  width: 20px;
  height: 120px;
  background-color: $black;
  background-image: url('../../img/arrow-left-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color .3s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $main-color;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}

.course-all__btn-next {
  top: calc(50% - 60px);
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.course-all__btn-prev {
  top: calc(50% - 60px);
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url('../../img/arrow-right-icon.svg');
}

.course-all--full {
  position: relative;
  max-width: 1440px;
  margin: 70px auto 50px;

  @media (max-width: $mobile) {
    margin-top: 0;
    margin-bottom: 53px;
  }
}
