.courses {
  display: grid;
  grid-template-columns: 343px;
  row-gap: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;

  @media (min-width: $mobile) {
    justify-content: start;
    grid-template-columns: repeat(auto-fill, 325px);
    row-gap: 40px;
    column-gap: 20px;
  }


  list-style: none;
}

.courses__item {
  padding: 20px 22px 18px;

  border-radius: 10px;
  box-shadow: 0 0 29px rgba($black, 0.2);
}

.courses__img {
  margin-bottom: 7px;
}

.courses__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 10px;

  font: 700 26px/31px $body-font-family;
}

.courses__term {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;

  color: $blue;

  @media (max-width: $tablet) {
    font-size: 15px;
    line-height: 21px;
  }

  @media (max-width: $mobile) {
    line-height: 23px;
  }
}

.courses__title {
  margin-top: 0;
  margin-bottom: 9px;

  font: 500 19px/23px $body-font-family;
}

.courses__description {
  margin-top: 0;
  margin-bottom: 22px;

  font: 400 15px/18px $body-font-family;
}

.courses__link {
  justify-content: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}
