.page-header {
  padding-top: 90px;
  background-color: $bg-light;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.page-header__logo {
  width: auto;
  height: 115px;
  margin-bottom: 40px;

  @media (max-width: $mobile) {
    height: 66px;
    margin-bottom: 34px;
  }
}


.page-header__course-img {
  width: auto;
  height: 390px;

  @media (max-width: $mobile) {
    height: 201px;
  }
}
